
.header {
  float: right;
  width: 80%;
  height: 80px;
  display: block;
}

.frameDeco {
  position: relative;
  height: 200px;
  width: 10%;
  display: block;
}

.dropdownIcon {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 60px;
  color: #CF2127
}

.landingPageText {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 13.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}
