
body {
    text-align: center; 
}
.waitMessage {
    font-style: italic;
    margin: 30px 0px 70px 0px;
}
.banner {
    height: 350px;
}

.description {
    margin: 0 auto;
    width: 650px;
    /* width: 45vw; */
    /* width: 45%; */
}
.event {
    margin-bottom: 3%;
}